/*


*/

.stepMapDesign-from #div-step-map {
    width: 98%;
    height: 500px;
}

.stepMapDesign-from .tab-stepDesign {
    min-height: 400px;
    z-index: 999;
    width: 500px;
    position: absolute;
    right: 18px;
    top: 0px;
    border: 1px solid #e3e9ed;
    background: #fff;
    box-shadow: 0 0 5px #ccc;
    margin-top: 1px
}

.form-lineInfo .layui-input,
.form-lineInfo .layui-select,
.form-lineInfo .layui-textarea {
    height: 29px;
}

.form-lineInfo .layui-form-select dl {
    top: 29px;
}

.form-lineInfo .layui-form-select dd {
    line-height: 29px;
}

.form-lineInfo .layui-form-pane .layui-form-label {
    padding: 5px 15px;
}